:root {
  --header-bg: #f1f1f1;
  --article-bg: white;
  --border-color: #ffbeca;
  --sidebar-text-color: black;
  --article-text-color: black;
  --article-heading-color: #929292;
  --nav-link-color: #ff8191;
  --darker-border-color: #87a389;
  --heading-color: #ff8191;
}

@font-face {
  font-family: cafesweet;
  src: url("/fonts/16ptpixels/CafeSweet.ttf");
}
@font-face {
  font-family: diegovainilla;
  src: url("/fonts/16ptpixels/DiegoVainilla.otf");
}
@font-face {
  font-family: peachsundress;
  src: url("/fonts/peachsundress.ttf");
}
@font-face {
  font-family: typogarden;
  src: url("/fonts/typogarden-demo.ttf");
}

html {
  cursor: url(imgs/korilakkumacursor.png), auto;
}

body {
  font-size: 16px;
  font-family: cafesweet;
  overflow-x: hidden;
  letter-spacing: 2px;
  background-image: url("imgs/looping-yellow-bg-scroll-reverse.gif");
  background-repeat: repeat;
}

.logo {
  height: 50px;
  width: 50px;
}

.logoFiat {
  height: 50px;
  width: 130px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 10px;
  background-color: #ffeff2;
  font-size: 21px;
  border: 2px solid var(--border-color);
  border-left: none;
  border-right: none;
  font-family: cafesweet;
}

#sidebar {
  border-width: 3px;
  border-style: solid;
  border-color: var(--border-color);
  background-color: white;
  width: 40%;
  max-width: 160px;
  height: 380px;
  padding: 2px;
  overflow: auto;
  text-align: center;
  line-height: 1.5;
  border-radius: 9px;
  margin-bottom: 20px;
}

.div2 {
  z-index: 4;
  position: relative;
  background-size: 80%;
  background-repeat: repeat-x;
  height: 20px;
  width: 100%;
}

.navicon {
  height: 60px;
  width: 60px;
}

.button-2 {
  border: solid 1px black;
  border-radius: 15px;
  background-image: url("imgs/che_g03.gif");
  color: #ff78d2;
  font-family: "typogarden";
  font-weight: 700;
  font-size: 16px;
  width: 140px;
  height: 25px;
  display: inline-block;
  margin: 2px 0;
  padding-top: 1px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.content-box {
  border-width: 1px;
  border-style: solid;
  border-color: black;

  padding: 2px;
  overflow: auto;
  text-align: center;
  border-radius: 9px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#third {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
  width: 168px;
  height: 290px;
  position: absolute;
  padding: 2px;
  overflow: auto;
  text-align: center;
  z-index: 2;
  left: 530px;
  top: 185px;
  border-radius: 9px;
}

.div4 {
  z-index: 4;
  position: absolute;
  background-size: 80%;
  background-repeat: repeat-x;
  height: 40px;
  top: -2px;
  left: -2px;
  width: 100%;
}

/* Estilos do container principal */
.container-custom {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-width: 7px;
  border-style: solid;
}

.tamImagem {
  width: 80px;
  height: 90px;
}

h2 {
  color: #ff66b3;
  font-family: "peachsundress", cursive;
}

p {
  color: #555;
  font-family: "Comic Sans MS", cursive;
}

.logo_footer {
  width: 230px;
  height: 120px;
}

#txt_p1 {
  font-size: 35px;
}

.bowConfig {
  width: 240px;
  height: 150px;
}

.titleSection {
  width: 360px;
  height: 100px;
}

.title {
  width: 1000px;
  height: 200px;
}

.card-img-top {
  width: 420px;
  height: 220px;
}

/*img {
  width: 800px;
  height: 650px;
}*/

.carrosel_fig {
  width: 1180px;
  height: 600px;
  border-radius: 3%;
  border: 5px solid rgb(0, 0, 0);
}

.txt_p2 {
  margin-top: 50px;
  font-size: 30px;
}

.txt_p3 {
  margin-top: 40px;
}

.preco {
  font-size: 30px;
  color: rgb(64, 218, 29);
  font-weight: bold; 
}

@media only screen and (max-width: 764px) {
  .title {
    width: 400px;
    height: 200px;
  }
}
